<nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 h1 text-white">User List</span>
</nav>
<div class="row">
    <table ng-table="$ctrl.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
        <tr ng-repeat="user in $data">
            <td class="align-middle" title="'avatar'">
                <img ng-src="{{user.avatar | checkavatar}}" width="100px" class="img-thumbnail rounded mx-auto d-block" />
            </td>
            <td class="align-middle h5" title="'Name'" filter="{name: 'text'}" sortable="'name'">
                <a href="#!/users/{{user.id}}" title="User details">{{user.name}}</a>
            </td>
            <td class="align-middle h5" title="'Username'" filter="{username: 'text'}" sortable="'id'">{{user.username}}</td>
            <td class="align-middle h5" title="'Company'">{{user.company.name}}</td>
            <td class="align-middle text-center" title="'Actions'">
                <a href="#!/users/{{user.id}}">
                    <span class="fa fa-user fa-2x" title="Details"></span>
                </a>
                <a href="#!/gallery/{{user.id}}" class="ml-2">
                    <span class="fa fa-image fa-2x" title="Gallery"></span>
                </a>
            </td>
        </tr>
    </table>
</div>