<nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 h1 text-white">User Detail</span>
</nav>
<hr>
<div ng-include="'src/partials/not-found.tpl.html'"></div>

<div ng-if="errorMsg.length == 0" class="w-100">
    <div class="row mx-auto">
        <div class="card text-white bg-dark mb-3 ml-3 w-25" style="max-width: 20rem;">
            <div class="card-header">{{$ctrl.user.username}}</div>
            <img class="card-img-top" ng-src="{{$ctrl.user.avatar | checkavatar}}" alt="avatar">
            <div class="card-body text-dark">
                <h5 class="card-title text-white">{{$ctrl.user.name}}</h5>
                <p class="card-text text-white">Phone: {{$ctrl.user.phone}}
                    <br />email: <a href="mailto:{{$ctrl.user.email}}">{{$ctrl.user.email}}</a>
                    <br />Website: <a href="{{$ctrl.user.website}}">{{$ctrl.user.website}}</a>
                </p>
            </div>
        </div>
        <div class="card ml-2 w-75 border-0">
            <div class="row mx-1">
                <div class="col-6">
                    <h5 class="w-100 text-white bg-dark p-2">Address:</h5>
                    <ul class="list-group" ng-repeat="(key, value) in $ctrl.user.address">
                        <li class="list-group-item"><strong>{{key}}: </strong>{{value}}</li>
                    </ul>
                </div>
                <div class="col-6">
                    <h5 class="w-100 text-white bg-dark p-2">Company:</h5>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Name: </strong>{{$ctrl.user.company.name}}</li>
                        <li class="list-group-item"><strong>Desciption: </strong>{{$ctrl.user.company.catchPhrase}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'src/partials/btn-return.tpl.html'"></div>