<nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 h1 text-white">User Gallery</span>
</nav>

<hr>
<div ng-include="'src/partials/not-found.tpl.html'"></div>

<div ng-if="errorMsg.length == 0">
    <div class="row">
        <div class="col-sm-3">
            <div class="bg-transparent border ml-2">
                <p class="bg-dark text-white p-2">Album List:</p>
                <div class="custom-control custom-radio ml-2 pb-2" ng-repeat="row in galleries">
                    <input type="radio" class="custom-control-input" id="album_{{row.id}}" name="album" value="{{row.id}}" ng-checked="{{row.id == $ctrl.albumId}}"
                        ng-model="albumId" ng-click="$ctrl.getPhotos(row.id)">
                    <label class="custom-control-label" for="album_{{row.id}}">{{row.title}}</label>
                </div>
                <button type="button" class="btn btn-dark btn-lg btn-block" ng-click="showFormNewAlbum = !showFormNewAlbum"><span class="fa fa-plus mr-2"></span>Add new album</button>
                <div ng-show="showFormNewAlbum" class="form-inline p-2 form-new-album">
                    <label class="sr-only" for="newAlbum">Name</label>
                    <input type="text" name="name" id="name" placeholder="enter the name" class="form-control mb-2 mr-sm-2" ng-model="name" required />
                    <button type="button" class="btn btn-primary mb-2" ng-click="$ctrl.addAlbum(name)">add</button>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="form-row">
                <div class="row bg-light w-100">
                    <div class="navbar navbar-light bg-light justify-content-between w-100">
                        <a class="navbar-brand">Album: {{$ctrl.albumObj.title}}</a>
                        <div class="form-inline">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search" ng-model="$ctrl.query">
                        </div>
                    </div>
                </div>

                <div class="row bg-light w-100 pb-3 ">
                    <div class="input-group col-9">
                    </div>
                    <div class="input-group col-3 float-right">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Sorting</label>
                        </div>
                        <select class="custom-select" ng-model="$ctrl.orderProp">
                            <option value="-id">Newest</option>
                            <option value="id">Oldest</option>
                            <option value="title">Alphabetical</option>
                            <option value="-title">Reverse Alphabetical</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="card m-2 user-gallery-item" style="width: 16rem;" ng-repeat="photo in photos | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                        <div class="card-header text-center">{{photo.id}}
                            <button class="btn btn-sm btn-dange float-right text-danger" title="Delete" ng-click="$ctrl.removeImage(photo.id)">
                                <span class="fa fa-trash"></span>
                            </button>
                        </div>
                        <img class="card-img-top" ng-src="{{photo.thumbnailUrl}}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">{{photo.title}}</p>
                        </div>
                    </div>
                    <pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'src/partials/btn-return.tpl.html'"></div>