/* Animate form add albums */
.form-new-album {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all linear 0.5s;
}

.form-new-album.ng-hide {
  opacity: 0;
  transform: scale(0.8);
}

/* Animate list photos | Animate user list */
.user-gallery-item.ng-enter,
.user-gallery-item.ng-leave,
.user-gallery-item.ng-move,
tr.ng-enter,
tr.ng-leave,
tr.ng-move {
    overflow: hidden;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

/* Animate album list */
.custom-control.ng-enter,
.custom-control.ng-leave,
.custom-control.ng-move {
    overflow: hidden;
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
}

.user-gallery-item.ng-enter,
.user-gallery-item.ng-leave.ng-leave-active,
.user-gallery-item.ng-move {
    height: 0;
    opacity: 0;
}

.user-gallery-item.ng-enter.ng-enter-active,
.user-gallery-item.ng-leave,
.user-gallery-item.ng-move.ng-move-active {
    height: 400px;
    opacity: 1;
}

.custom-control.ng-enter,
.custom-control.ng-leave.ng-leave-active,
.custom-control.ng-move,
tr.ng-enter,
tr.ng-leave.ng-leave-active,
tr.ng-move {
    opacity: 0;
}

.custom-control.ng-enter.ng-enter-active,
.custom-control.ng-leave,
.custom-control.ng-move.ng-move-active,
tr.ng-enter.ng-enter-active,
tr.ng-leave,
tr.ng-move.ng-move-active {
    opacity: 1;
}